.swiper-pagination-bullet {
    background-color: rgba(217, 217, 217, 1);
}

.swiper-pagination-bullet-active {
    background-color: black;
}

.swiper-pagination {
    /* position: fixed; */
    left: 30px !important;
}

.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets {
    z-index: 0;
}

.progressbar-text {
    display: flex;
    align-items: flex-end;
}

.fade-out {
    transition: opacity 0.3s ease-in-out;
    opacity: 0.5; /* adjust as needed */
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

/* 
.swiper-wrapper {
    gap: 20px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
} */