.swiper-pagination-bullet {
    background-color: #eee;
}

.swiper-pagination-bullet-active {
    background-color: black;
}

.swiper-pagination {
    /* position: fixed; */
    left: 30px !important;
}