.DateInput_input__focused { 
  border-bottom: none; 
  background-color: transparent;
}
.DateInput_input, .SingleDatePickerInput, .DateInput  { 
  background-color: transparent;
}

.DateInput_input {
  font-size: 0.9em;
  text-align: center;
  cursor: pointer;
}

.SingleDatePicker_picker {
  z-index: 10;
}

.SingleDatePicker_picker .SingleDatePicker_picker_1 .SingleDatePicker_picker__directionLeft .SingleDatePicker_picker__directionLeft_2 {
  z-index: 100;
}
