.DateInput_input__focused { 
  border-bottom: none; 
  background-color: transparent;
}
.DateInput_input, .SingleDatePickerInput, .DateInput  { 
  background-color: transparent;
}

.DateInput_input {
  font-size: 0.9em;
  text-align: center;
  cursor: pointer;
}

.DateInput {
  position: relative;
}

svg[role="presentation"] {
  top: 45px !important;
}

.SingleDatePicker_picker {
  top: 55px !important;
}